/**
 * app css
 */

body {
    font-family: 'Raleway', sans-serif;
}

header{
    background: url('../img/home-bg.jpg')!important;
    background-size: cover;
}

.home-title {
    color: #1abc9c;
}

.meetup-block {
    background: #ecf0f1;
}

.meetup-block img {
    max-height: 130px;
}

.meetup-block > .content {
    padding: 10px;
}

.meetup-view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.meetup-view h3{
    display: inline-block;
    margin: 0;
}

.meetup-view p {
    display: inline-block;
    margin: 0;
    align-items: center;
}